<a href="https://colab.research.google.com/github/Krzysztof-Switek/Otoliths_MIR/blob/main/Data_mamagement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import cv2
import requests
from io import BytesIO
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

destination_dir = '/content/drive/MyDrive/Otoliths_CNN'
repo_url = 'https://github.com/Krzysztof-Switek/Otoliths_MIR.git'

from google.colab import userdata
token_mir = userdata.get('MIR_GIT_TOKEN')

!git clone https://$token_mir@github.com/Krzysztof-Switek/Otoliths_MIR.git {destination_dir}

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Cloning into '/content/drive/MyDrive/Otoliths_CNN'...
remote: Enumerating objects: 1356, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 1356 (delta 0), reused 0 (delta 0), pack-reused 1353
Receiving objects: 100% (1356/1356), 1.97 GiB | 12.70 MiB/s, done.
Resolving deltas: 100% (2/2), done.
Updating files: 100% (1853/1853), done.

Mounted at /content/drive

In [14]:
import os
import pandas as pd

# Path to the Excel file with photo classifications
excel_path_1 = r'/content/drive/MyDrive/Otoliths_CNN/RAW_DATA/JesienneWiosenne/otolity.xls'
excel_path_2 = r'/content/drive/MyDrive/Otoliths_CNN/RAW_DATA/WiosenneWiosenneMorskie/WiosenneWiosenneMorskie.xls'

# Read the spreadsheet
df_1 = pd.read_excel(excel_path_1)
df_2 = pd.read_excel(excel_path_2)

In [15]:
df_1

,Grupa,Numer,Data,Gatunek,Długośc (cm),Płec,Gonady,Wiek,Populacja,uwagi,Zdjęcia,OTH_ID
0,A,1,18.10.1954,HAR,17,1,1,2,W,NaN,NaN,650
1,A,2,18.10.1954,HAR,18,2,1,2,J,złamany,NaN,651
2,A,3,18.10.1954,HAR,19,2,3,7,W,NaN,NaN,652
3,A,4,18.10.1954,HAR,19,2,2,6,W,NaN,NaN,653
4,A,5,18.10.1954,HAR,19,2,2,8,W,krystalizacja,NaN,654
...,...,...,...,...,...,...,...,...,...,...,...,...
595,F,98,07.04.1955,HAR,27,1,2,6,J,NaN,NaN,1245
596,F,99,07.04.1955,HAR,27,2,2,6,J,NaN,NaN,1246
597,F,100,07.04.1955,HAR,28,1,2,8,J,NaN,NaN,1247
598,F,101,07.04.1955,HAR,28,2,2,8,J,NaN,NaN,1248
599,F,102,07.04.1955,HAR,28,2,2,8,J,krystalizacja,NaN,1249

In [ ]:
df_1['Photo_name'] = df_1.apply(lambda row: f"{row['Grupa']} ({row['Numer']})", axis=1)

# Wyświetlenie DataFrame z nową kolumną

In [ ]:
df_1

,Grupa,Numer,Data,Gatunek,Długośc (cm),Płec,Gonady,Wiek,Populacja,uwagi,Zdjęcia,OTH_ID,Photo_name
0,A,1,18.10.1954,HAR,17,1,1,2,W,NaN,NaN,650,A (1)
1,A,2,18.10.1954,HAR,18,2,1,2,J,złamany,NaN,651,A (2)
2,A,3,18.10.1954,HAR,19,2,3,7,W,NaN,NaN,652,A (3)
3,A,4,18.10.1954,HAR,19,2,2,6,W,NaN,NaN,653,A (4)
4,A,5,18.10.1954,HAR,19,2,2,8,W,krystalizacja,NaN,654,A (5)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,F,98,07.04.1955,HAR,27,1,2,6,J,NaN,NaN,1245,F (98)
596,F,99,07.04.1955,HAR,27,2,2,6,J,NaN,NaN,1246,F (99)
597,F,100,07.04.1955,HAR,28,1,2,8,J,NaN,NaN,1247,F (100)
598,F,101,07.04.1955,HAR,28,2,2,8,J,NaN,NaN,1248,F (101)
599,F,102,07.04.1955,HAR,28,2,2,8,J,krystalizacja,NaN,1249,F (102)

In [ ]:
df_1.iloc[:,8].unique()

array(['W', 'J', 'bd', 'Wd', 'Wm', 'Ws'], dtype=object)

In [ ]:
df_1['Populacja']

0      W
1      J
2      W
3      W
4      W
      ..
595    J
596    J
597    J
598    J
599    J
Name: Populacja, Length: 600, dtype: object

In [ ]:
df_2

,LP_jpg,LewyPrawyNA,LPZ_jpg,LewyPrawyZalane,data,kwartał,statek,typ rejsu,łowisko,podobszar,długość [cm],masa [g],płeć,gonady,żołądek,wiek,populacja,LP,nr zaciągu,ID_OTH
0,Zatoka Gdańska0001,L,DATRASS_2021_ZG_0001,L,2021-02-11,1,GDY-100,DATRAS,101-Zatoka Gdanska,26,12.0,10.0,M,2,0.0,1,2,1,1,1
1,Zatoka Gdańska0002,L,DATRASS_2021_ZG_0002,L,2021-02-11,1,GDY-100,DATRAS,101-Zatoka Gdanska,26,12.0,8.0,M,2,0.0,1,2,2,1,2
2,Zatoka Gdańska0003,L,DATRASS_2021_ZG_0003,L,2021-02-11,1,GDY-100,DATRAS,101-Zatoka Gdanska,26,12.5,10.2,F,2,0.0,1,2,3,1,3
3,Zatoka Gdańska0004,L,DATRASS_2021_ZG_0004,L,2021-02-11,1,GDY-100,DATRAS,101-Zatoka Gdanska,26,12.5,11.0,M,2,0.0,1,2,4,1,4
4,Zatoka Gdańska0005,L,DATRASS_2021_ZG_0005,L,2021-02-11,1,GDY-100,DATRAS,101-Zatoka Gdanska,26,12.5,9.8,M,2,0.0,1,2,5,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,Gotlandzkie_S_0018,L,DATRASS_2021_GT_0018,L,2021-02-18,1,GDY-100,DATRAS,130-Gotlandzkie S,26,18.5,37.0,F,4,0.0,5,1,113,36,645
645,Gotlandzkie_S_0019,L,DATRASS_2021_GT_0019,L,2021-02-18,1,GDY-100,DATRAS,130-Gotlandzkie S,26,18.5,31.0,M,4,0.0,7,1,114,36,646
646,Gotlandzkie_S_0020,L,DATRASS_2021_GT_0020,L,2021-02-18,1,GDY-100,DATRAS,130-Gotlandzkie S,26,18.5,39.0,F,4,0.0,4,1,115,36,647
647,Gotlandzkie_S_0021,L,DATRASS_2021_GT_0021,L,2021-02-18,1,GDY-100,DATRAS,130-Gotlandzkie S,26,19.5,49.0,F,4,0.0,7,1,116,36,648
648,Gotlandzkie_S_0022,L,DATRASS_2021_GT_0022,L,2021-02-18,1,GDY-100,DATRAS,130-Gotlandzkie S,26,20.0,45.0,M,4,0.0,6,1,117,36,649

In [ ]:
#populacja
unique = df_2.iloc[:,16].value_counts()
print(unique)

1    322
2    320
0      4
3      3
Name: populacja, dtype: int64

DIVIDING PHOTOS INTO CATEGORIES ALONG WITH CHANGING THEIR NAMES

In [ ]:
import os
import shutil  # Dodane do obsługi kopiowania plików

# Path to the directory with photos
photos_directory_1 = r'C:\Users\Krzychu\OneDrive\Dokumenty\MIR_otolits\RAW_DATA\JesienneWiosenne\JPG'
photos_directory_2 = r'C:\Users\Krzychu\OneDrive\Dokumenty\MIR_otolits\RAW_DATA\WiosenneWiosenneMorskie\JPG'

df = df_1 #change that line for second data frame

# New directory to store copies with modified names
output_directory = r'C:\Users\Krzychu\OneDrive\Dokumenty\MIR_otolits\photos'
print(f"Creating directory: {output_directory}")

# Create the output directory if it doesn't exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Iterate through files in the photo directory
for filename in os.listdir(photos_directory_1):

    # Check if the file is an image
    if filename.endswith('.JPG') or filename.endswith('.png'):

        # Extract the identifier (e.g., 'A(1)') from the filename to determine the class
        identifier = filename.split('.')[0]

        # Check classification based on the spreadsheet
        row = df[df['Photo_name'] == identifier]
        if not row.empty:
            classification = row['Populacja'].values[0]
            oth_id = row['OTH_ID'].values[0]

            # Create a new filename with modified name
            new_filename = f"oth_{oth_id}_{classification}_{filename}"

            # Create the destination path in the output directory
            destination_path = os.path.join(output_directory, new_filename)

            # Copy the file to the destination path with the modified name
            source_path = os.path.join(photos_directory_1, filename)
            shutil.copyfile(source_path, destination_path)

print("Process completed.")

Creating directory: C:\Users\Krzychu\OneDrive\Dokumenty\MIR_otolits\photos
Process completed.

In [ ]:
# Path to the directory with photos
photos_directory_2 = r'C:\Users\Krzychu\OneDrive\Dokumenty\MIR_otolits\RAW_DATA\WiosenneWiosenneMorskie\JPG'

df = df_2 #change that line for second data frame

# New directory to store copies with modified names
# output_directory = r'C:\Users\Krzychu\OneDrive\Dokumenty\MIR_otolits\photos'
# print(f"Creating directory: {output_directory}")

# Create the output directory if it doesn't exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Iterate through files in the photo directory
for filename in os.listdir(photos_directory_2):
    print (f"{filename}")
    # Check if the file is an image
    if filename.endswith('.jpg') or filename.endswith('.png'):
        print("loop")
        # Extract the identifier (e.g., 'A(1)') from the filename to determine the class
        identifier = filename.split('.')[0]

        # Check classification based on the spreadsheet
        row = df[df['LP_jpg'] == identifier]
        if not row.empty:
            #classification = row['Populacja'].values[0]
            oth_id = row['ID_OTH'].values[0]
            class_id = int(row['populacja'].values[0])

            # Create a new filename with modified name
            new_filename = f"{class_id}_oth_{oth_id}_{filename}"

            # Create the destination path in the output directory
            destination_path = os.path.join(output_directory, new_filename)

            # Copy the file to the destination path with the modified name
            source_path = os.path.join(photos_directory_2, filename)
            shutil.copyfile(source_path, destination_path)

print("Process completed.")

Gotlandzkie_S_0001.jpg
loop
Gotlandzkie_S_0002.jpg
loop
Gotlandzkie_S_0003.jpg
loop
Gotlandzkie_S_0004.jpg
loop
Gotlandzkie_S_0005.jpg
loop
Gotlandzkie_S_0006.jpg
loop
Gotlandzkie_S_0007.jpg
loop
Gotlandzkie_S_0008.jpg
loop
Gotlandzkie_S_0009.jpg
loop
Gotlandzkie_S_0010.jpg
loop
Gotlandzkie_S_0011.jpg
loop
Gotlandzkie_S_0012.jpg
loop
Gotlandzkie_S_0013.jpg
loop
Gotlandzkie_S_0014.jpg
loop
Gotlandzkie_S_0015.jpg
loop
Gotlandzkie_S_0016.jpg
loop
Gotlandzkie_S_0017.jpg
loop
Gotlandzkie_S_0018.jpg
loop
Gotlandzkie_S_0019.jpg
loop
Gotlandzkie_S_0020.jpg
loop
Gotlandzkie_S_0021.jpg
loop
Gotlandzkie_S_0022.jpg
loop
Głębia_Gdańska_0001.jpg
loop
Głębia_Gdańska_0002.jpg
loop
Głębia_Gdańska_0003.jpg
loop
Głębia_Gdańska_0004.jpg
loop
Głębia_Gdańska_0005.jpg
loop
Głębia_Gdańska_0006.jpg
loop
Głębia_Gdańska_0007.jpg
loop
Głębia_Gdańska_0008.jpg
loop
Głębia_Gdańska_0009.jpg
loop
Głębia_Gdańska_0010.jpg
loop
Głębia_Gdańska_0011.jpg
loop
Głębia_Gdańska_0012.jpg
loop
Głębia_Gdańska_0013.jpg
loop
Głębia_Gdańska_0014.jpg
loop
Głębia_Gdańska_0015.jpg
loop
Głębia_Gdańska_0016.jpg
loop
Głębia_Gdańska_0017.jpg
loop
Głębia_Gdańska_0018.jpg
loop
Głębia_Gdańska_0019.jpg
loop
Głębia_Gdańska_0020.jpg
loop
Głębia_Gdańska_0021.jpg
loop
Głębia_Gdańska_0022.jpg
loop
Głębia_Gdańska_0023.jpg
loop
Głębia_Gdańska_0024.jpg
loop
Głębia_Gdańska_0025.jpg
loop
Głębia_Gdańska_0026.jpg
loop
Głębia_Gdańska_0027.jpg
loop
Głębia_Gdańska_0028.jpg
loop
Głębia_Gdańska_0029.jpg
loop
Głębia_Gdańska_0030.jpg
loop
Klajpedzkie_0001.jpg
loop
Klajpedzkie_0002.jpg
loop
Klajpedzkie_0003.jpg
loop
Klajpedzkie_0004.jpg
loop
Klajpedzkie_0005.jpg
loop
Klajpedzkie_0006.jpg
loop
Klajpedzkie_0007.jpg
loop
Klajpedzkie_0008.jpg
loop
Klajpedzkie_0009.jpg
loop
Klajpedzkie_0010.jpg
loop
Klajpedzkie_0011.jpg
loop
Klajpedzkie_0012.jpg
loop
Klajpedzkie_0013.jpg
loop
Klajpedzkie_0014.jpg
loop
Klajpedzkie_0015.jpg
loop
Klajpedzkie_0016.jpg
loop
Klajpedzkie_0017.jpg
loop
Klajpedzkie_0018.jpg
loop
Klajpedzkie_0019.jpg
loop
Klajpedzkie_0020.jpg
loop
Klajpedzkie_0021.jpg
loop
Klajpedzkie_0022.jpg
loop
Klajpedzkie_0023.jpg
loop
Klajpedzkie_0024.jpg
loop
Klajpedzkie_0025.jpg
loop
Klajpedzkie_0026.jpg
loop
Klajpedzkie_0027.jpg
loop
Klajpedzkie_0028.jpg
loop
Klajpedzkie_0029.jpg
loop
Klajpedzkie_0030.jpg
loop
Klajpedzkie_0031.jpg
loop
Klajpedzkie_0032.jpg
loop
Klajpedzkie_0033.jpg
loop
Klajpedzkie_0034.jpg
loop
Klajpedzkie_0035.jpg
loop
Klajpedzkie_0036.jpg
loop
Klajpedzkie_0037.jpg
loop
Klajpedzkie_0038.jpg
loop
Klajpedzkie_0039.jpg
loop
Klajpedzkie_0040.jpg
loop
Klajpedzkie_0041.jpg
loop
Klajpedzkie_0042.jpg
loop
Klajpedzkie_0043.jpg
loop
Klajpedzkie_0044.jpg
loop
Klajpedzkie_0045.jpg
loop
Klajpedzkie_0046.jpg
loop
Klajpedzkie_0047.jpg
loop
Klajpedzkie_0048.jpg
loop
Klajpedzkie_0049.jpg
loop
Klajpedzkie_0050.jpg
loop
Klajpedzkie_0051.jpg
loop
Klajpedzkie_0052.jpg
loop
Klajpedzkie_0053.jpg
loop
Klajpedzkie_0054.jpg
loop
Klajpedzkie_0055.jpg
loop
Klajpedzkie_0056.jpg
loop
Klajpedzkie_0057.jpg
loop
Klajpedzkie_0058.jpg
loop
Klajpedzkie_0059.jpg
loop
Klajpedzkie_0060.jpg
loop
Klajpedzkie_0061.jpg
loop
Klajpedzkie_0062.jpg
loop
Klajpedzkie_0063.jpg
loop
Klajpedzkie_0064.jpg
loop
Klajpedzkie_0065.jpg
loop
Klajpedzkie_0066.jpg
loop
Klajpedzkie_0067.jpg
loop
Klajpedzkie_0068.jpg
loop
Klajpedzkie_0069.jpg
loop
Klajpedzkie_0070.jpg
loop
Klajpedzkie_0071.jpg
loop
Klajpedzkie_0072.jpg
loop
Klajpedzkie_0073.jpg
loop
Klajpedzkie_0074.jpg
loop
Klajpedzkie_0075.jpg
loop
Klajpedzkie_0076.jpg
loop
Klajpedzkie_0077.jpg
loop
Klajpedzkie_0078.jpg
loop
Klajpedzkie_0079.jpg
loop
Klajpedzkie_0080.jpg
loop
Klajpedzkie_0081.jpg
loop
Klajpedzkie_0082.jpg
loop
Klajpedzkie_0083.jpg
loop
Klajpedzkie_0084.jpg
loop
Klajpedzkie_0085.jpg
loop
Klajpedzkie_0086.jpg
loop
Klajpedzkie_0087.jpg
loop
Klajpedzkie_0088.jpg
loop
Klajpedzkie_0089.jpg
loop
Klajpedzkie_0090.jpg
loop
Klajpedzkie_0091.jpg
loop
Klajpedzkie_0092.jpg
loop
Klajpedzkie_0093.jpg
loop
Klajpedzkie_0094.jpg
loop
Klajpedzkie_0095.jpg
loop
Kołobrzesko_Darłowskie0001.jpg
loop
Kołobrzesko_Darłowskie0002.jpg
loop
Rynna_Słupska_0002.jpg
loop
Rynna_Słupska_0003.jpg
loop
Rynna_Słupska_0004.jpg
loop
Rynna_Słupska_0006.jpg
loop
Rynna_Słupska_0008.jpg
loop
Rynna_Słupska_0009.jpg
loop
Rynna_Słupska_0011.jpg
loop
Rynna_Słupska_0012.jpg
loop
Rynna_Słupska_0014.jpg
loop
Rynna_Słupska_0015.jpg
loop
Rynna_Słupska_0016.jpg
loop
Rynna_Słupska_0017.jpg
loop
Rynna_Słupska_0018.jpg
loop
Rynna_Słupska_0019.jpg
loop
Rynna_Słupska_0020.jpg
loop
Rynna_Słupska_0021.jpg
loop
Rynna_Słupska_0022.jpg
loop
Rynna_Słupska_0023.jpg
loop
Rynna_Słupska_0025.jpg
loop
Rynna_Słupska_0026.jpg
loop
Rynna_Słupska_0027.jpg
loop
Rynna_Słupska_0028.jpg
loop
Rynna_Słupska_0029.jpg
loop
Rynna_Słupska_0030.jpg
loop
Rynna_Słupska_0031.jpg
loop
Rynna_Słupska_0032.jpg
loop
Rynna_Słupska_0033.jpg
loop
Rynna_Słupska_0034.jpg
loop
Rynna_Słupska_0035.jpg
loop
Rynna_Słupska_0036.jpg
loop
Rynna_Słupska_0037.jpg
loop
Rynna_Słupska_0038.jpg
loop
Rynna_Słupska_0039.jpg
loop
Rynna_Słupska_0040.jpg
loop
Rynna_Słupska_0041.jpg
loop
Rynna_Słupska_0042.jpg
loop
Rynna_Słupska_0043.jpg
loop
Rynna_Słupska_0044.jpg
loop
Rynna_Słupska_0045.jpg
loop
Rynna_Słupska_0046.jpg
loop
Rynna_Słupska_0047.jpg
loop
Rynna_Słupska_0048.jpg
loop
Rynna_Słupska_0049.jpg
loop
Rynna_Słupska_0050.jpg
loop
Rynna_Słupska_0051.jpg
loop
Rynna_Słupska_0052.jpg
loop
Rynna_Słupska_0053.jpg
loop
Rynna_Słupska_0054.jpg
loop
Rynna_Słupska_0055.jpg
loop
Rynna_Słupska_0056.jpg
loop
Rynna_Słupska_0057.jpg
loop
Rynna_Słupska_0058.jpg
loop
Rynna_Słupska_0059.jpg
loop
Rynna_Słupska_0060.jpg
loop
Rynna_Słupska_0061.jpg
loop
Rynna_Słupska_0062.jpg
loop
Rynna_Słupska_0063.jpg
loop
Rynna_Słupska_0064.jpg
loop
Rynna_Słupska_0065.jpg
loop
Rynna_Słupska_0066.jpg
loop
Rynna_Słupska_0067.jpg
loop
Rynna_Słupska_0068.jpg
loop
Rynna_Słupska_0069.jpg
loop
Rynna_Słupska_0070.jpg
loop
Rynna_Słupska_0071.jpg
loop
Rynna_Słupska_0072.jpg
loop
Rynna_Słupska_0073.jpg
loop
Rynna_Słupska_0074.jpg
loop
Rynna_Słupska_0075.jpg
loop
Rynna_Słupska_0076.jpg
loop
Rynna_Słupska_0077.jpg
loop
Rynna_Słupska_0078.jpg
loop
Ustecko_Łebskie0001.jpg
loop
Ustecko_Łebskie0002.jpg
loop
Ustecko_Łebskie0003.jpg
loop
Ustecko_Łebskie0004.jpg
loop
Ustecko_Łebskie0005.jpg
loop
Ustecko_Łebskie0006.jpg
loop
Ustecko_Łebskie0007.jpg
loop
Ustecko_Łebskie0008.jpg
loop
Ustecko_Łebskie0009.jpg
loop
Ustecko_Łebskie0010.jpg
loop
Ustecko_Łebskie0011.jpg
loop
Ustecko_Łebskie0012.jpg
loop
Ustecko_Łebskie0013.jpg
loop
Ustecko_Łebskie0014.jpg
loop
Ustecko_Łebskie0015.jpg
loop
Ustecko_Łebskie0016.jpg
loop
Ustecko_Łebskie0017.jpg
loop
Ustecko_Łebskie0018.jpg
loop
Ustecko_Łebskie0019.jpg
loop
Ustecko_Łebskie0020.jpg
loop
Ustecko_Łebskie0021.jpg
loop
Ustecko_Łebskie0022.jpg
loop
Ustecko_Łebskie0023.jpg
loop
Ustecko_Łebskie0024.jpg
loop
Ustecko_Łebskie0025.jpg
loop
Ustecko_Łebskie0026.jpg
loop
Ustecko_Łebskie0027.jpg
loop
Ustecko_Łebskie0028.jpg
loop
Ustecko_Łebskie0029.jpg
loop
Ustecko_Łebskie0030.jpg
loop
Ustecko_Łebskie0031.jpg
loop
Ustecko_Łebskie0032.jpg
loop
Ustecko_Łebskie0033.jpg
loop
Ustecko_Łebskie0034.jpg
loop
Ustecko_Łebskie0035.jpg
loop
Ustecko_Łebskie0036.jpg
loop
Ustecko_Łebskie0037.jpg
loop
Ustecko_Łebskie0038.jpg
loop
Ustecko_Łebskie0039.jpg
loop
Ustecko_Łebskie0040.jpg
loop
Ustecko_Łebskie0041.jpg
loop
Ustecko_Łebskie0042.jpg
loop
Ustecko_Łebskie0043.jpg
loop
Ustecko_Łebskie0044.jpg
loop
Ustecko_Łebskie0045.jpg
loop
Ustecko_Łebskie0046.jpg
loop
Ustecko_Łebskie0047.jpg
loop
Ustecko_Łebskie0048.jpg
loop
Ustecko_Łebskie0049.jpg
loop
Ustecko_Łebskie0050.jpg
loop
Ustecko_Łebskie0051.jpg
loop
Ustecko_Łebskie0052.jpg
loop
Ustecko_Łebskie0053.jpg
loop
Ustecko_Łebskie0054.jpg
loop
Ustecko_Łebskie0055.jpg
loop
Ustecko_Łebskie0056.jpg
loop
Ustecko_Łebskie0057.jpg
loop
Ustecko_Łebskie0058.jpg
loop
Ustecko_Łebskie0059.jpg
loop
Ustecko_Łebskie0060.jpg
loop
Ustecko_Łebskie0061.jpg
loop
Ustecko_Łebskie0062.jpg
loop
Ustecko_Łebskie0063.jpg
loop
Ustecko_Łebskie0064.jpg
loop
Ustecko_Łebskie0065.jpg
loop
Ustecko_Łebskie0066.jpg
loop
Ustecko_Łebskie0067.jpg
loop
Ustecko_Łebskie0068.jpg
loop
Ustecko_Łebskie0069.jpg
loop
Ustecko_Łebskie0070.jpg
loop
Ustecko_Łebskie0072.jpg
loop
Ustecko_Łebskie0073.jpg
loop
Ustecko_Łebskie0074.jpg
loop
Ustecko_Łebskie0075.jpg
loop
Ustecko_Łebskie0076.jpg
loop
Ustecko_Łebskie0077.jpg
loop
Ustecko_Łebskie0078.jpg
loop
Ustecko_Łebskie0079.jpg
loop
Ustecko_Łebskie0080.jpg
loop
Ustecko_Łebskie0081.jpg
loop
Ustecko_Łebskie0082.jpg
loop
Ustecko_Łebskie0083.jpg
loop
Ustecko_Łebskie0084.jpg
loop
Ustecko_Łebskie0085.jpg
loop
Ustecko_Łebskie0086.jpg
loop
Ustecko_Łebskie0087.jpg
loop
Ustecko_Łebskie0088.jpg
loop
Ustecko_Łebskie0089.jpg
loop
Ustecko_Łebskie0090.jpg
loop
Ustecko_Łebskie0091.jpg
loop
Ustecko_Łebskie0092.jpg
loop
Ustecko_Łebskie0093.jpg
loop
Ustecko_Łebskie0094.jpg
loop
Ustecko_Łebskie0095.jpg
loop
Ustecko_Łebskie0096.jpg
loop
Ustecko_Łebskie0097.jpg
loop
Ustecko_Łebskie0098.jpg
loop
Ustecko_Łebskie0099.jpg
loop
Ustecko_Łebskie0100.jpg
loop
Ustecko_Łebskie0101.jpg
loop
Ustecko_Łebskie0102.jpg
loop
Ustecko_Łebskie0103.jpg
loop
Ustecko_Łebskie0104.jpg
loop
Ustecko_Łebskie0105.jpg
loop
Ustecko_Łebskie0106.jpg
loop
Ustecko_Łebskie0107.jpg
loop
Ustecko_Łebskie0108.jpg
loop
Ustecko_Łebskie0109.jpg
loop
Ustecko_Łebskie0110.jpg
loop
Ustecko_Łebskie0111.jpg
loop
Ustecko_Łebskie0112.jpg
loop
Ustecko_Łebskie0113.jpg
loop
Ustecko_Łebskie0114.jpg
loop
Ustecko_Łebskie0115.jpg
loop
Ustecko_Łebskie0116.jpg
loop
Ustecko_Łebskie0117.jpg
loop
Ustecko_Łebskie0118.jpg
loop
Ustecko_Łebskie0119.jpg
loop
Ustecko_Łebskie0120.jpg
loop
Ustecko_Łebskie0121.jpg
loop
Ustecko_Łebskie0122.jpg
loop
Ustecko_Łebskie0123.jpg
loop
Ustecko_Łebskie0124.jpg
loop
Ustecko_Łebskie0125.jpg
loop
Ustecko_Łebskie0126.jpg
loop
Ustecko_Łebskie0127.jpg
loop
Ustecko_Łebskie0128.jpg
loop
Ustecko_Łebskie0129.jpg
loop
Ustecko_Łebskie0130.jpg
loop
Ustecko_Łebskie0131.jpg
loop
Ustecko_Łebskie0132.jpg
loop
Ustecko_Łebskie0133.jpg
loop
Ustecko_Łebskie0134.jpg
loop
Ustecko_Łebskie0135.jpg
loop
Ustecko_Łebskie0136.jpg
loop
Zatoka Gdańska0001.jpg
loop
Zatoka Gdańska0002.jpg
loop
Zatoka Gdańska0003.jpg
loop
Zatoka Gdańska0004.jpg
loop
Zatoka Gdańska0005.jpg
loop
Zatoka Gdańska0006.jpg
loop
Zatoka Gdańska0007.jpg
loop
Zatoka Gdańska0008.jpg
loop
Zatoka Gdańska0009.jpg
loop
Zatoka Gdańska0010.jpg
loop
Zatoka Gdańska0011.jpg
loop
Zatoka Gdańska0012.jpg
loop
Zatoka Gdańska0013.jpg
loop
Zatoka Gdańska0014.jpg
loop
Zatoka Gdańska0015.jpg
loop
Zatoka Gdańska0016.jpg
loop
Zatoka Gdańska0017.jpg
loop
Zatoka Gdańska0018.jpg
loop
Zatoka Gdańska0019.jpg
loop
Zatoka Gdańska0020.jpg
loop
Zatoka Gdańska0021.jpg
loop
Zatoka Gdańska0022.jpg
loop
Zatoka Gdańska0023.jpg
loop
Zatoka Gdańska0024.jpg
loop
Zatoka Gdańska0025.jpg
loop
Zatoka Gdańska0026.jpg
loop
Zatoka Gdańska0027.jpg
loop
Zatoka Gdańska0028.jpg
loop
Zatoka Gdańska0029.jpg
loop
Zatoka Gdańska0030.jpg
loop
Zatoka Gdańska0031.jpg
loop
Zatoka Gdańska0032.jpg
loop
Zatoka Gdańska0033.jpg
loop
Zatoka Gdańska0034.jpg
loop
Zatoka Gdańska0035.jpg
loop
Zatoka Gdańska0036.jpg
loop
Zatoka Gdańska0037.jpg
loop
Zatoka Gdańska0038.jpg
loop
Zatoka Gdańska0039.jpg
loop
Zatoka Gdańska0040.jpg
loop
Zatoka Gdańska0041.jpg
loop
Zatoka Gdańska0042.jpg
loop
Zatoka Gdańska0043.jpg
loop
Zatoka Gdańska0044.jpg
loop
Zatoka Gdańska0045.jpg
loop
Zatoka Gdańska0046.jpg
loop
Zatoka Gdańska0047.jpg
loop
Zatoka Gdańska0048.jpg
loop
Zatoka Gdańska0049.jpg
loop
Zatoka Gdańska0050.jpg
loop
Zatoka Gdańska0051.jpg
loop
Zatoka Gdańska0052.jpg
loop
Zatoka Gdańska0053.jpg
loop
Zatoka Gdańska0054.jpg
loop
Zatoka Gdańska0055.jpg
loop
Zatoka Gdańska0056.jpg
loop
Zatoka Gdańska0057.jpg
loop
Zatoka Gdańska0058.jpg
loop
Zatoka Gdańska0059.jpg
loop
Zatoka Gdańska0060.jpg
loop
Zatoka Gdańska0061.jpg
loop
Zatoka Gdańska0062.jpg
loop
Zatoka Gdańska0063.jpg
loop
Zatoka Gdańska0064.jpg
loop
Zatoka Gdańska0065.jpg
loop
Zatoka Gdańska0066.jpg
loop
Zatoka Gdańska0067.jpg
loop
Zatoka Gdańska0068.jpg
loop
Zatoka Gdańska0069.jpg
loop
Zatoka Gdańska0070.jpg
loop
Zatoka Gdańska0071.jpg
loop
Zatoka Gdańska0072.jpg
loop
Zatoka Gdańska0073.jpg
loop
Zatoka Gdańska0074.jpg
loop
Zatoka Gdańska0075.jpg
loop
Zatoka Gdańska0076.jpg
loop
Zatoka Gdańska0077.jpg
loop
Zatoka Gdańska0078.jpg
loop
Zatoka Gdańska0079.jpg
loop
Zatoka Gdańska0080.jpg
loop
Zatoka Gdańska0081.jpg
loop
Zatoka Gdańska0082.jpg
loop
Zatoka Gdańska0083.jpg
loop
Zatoka Gdańska0084.jpg
loop
Zatoka Gdańska0085.jpg
loop
Zatoka Gdańska0086.jpg
loop
Zatoka Gdańska0087.jpg
loop
Zatoka Gdańska0088.jpg
loop
Zatoka Gdańska0089.jpg
loop
Zatoka Gdańska0090.jpg
loop
Zatoka Gdańska0091.jpg
loop
Zatoka Gdańska0092.jpg
loop
Zatoka Gdańska0093.jpg
loop
Zatoka Gdańska0094.jpg
loop
Zatoka Gdańska0095.jpg
loop
Zatoka Gdańska0096.jpg
loop
Zatoka Gdańska0097.jpg
loop
Zatoka Gdańska0098.jpg
loop
Zatoka Gdańska0099.jpg
loop
Zatoka Gdańska0100.jpg
loop
Zatoka Gdańska0101.jpg
loop
Zatoka Gdańska0102.jpg
loop
Zatoka Gdańska0103.jpg
loop
Zatoka Gdańska0104.jpg
loop
Zatoka Gdańska0105.jpg
loop
Zatoka Gdańska0106.jpg
loop
Zatoka Gdańska0107.jpg
loop
Zatoka Gdańska0108.jpg
loop
Zatoka Gdańska0109.jpg
loop
Zatoka Gdańska0110.jpg
loop
Zatoka Gdańska0111.jpg
loop
Zatoka Gdańska0112.jpg
loop
Zatoka Gdańska0113.jpg
loop
Zatoka Gdańska0114.jpg
loop
Zatoka Gdańska0115.jpg
loop
Zatoka Gdańska0116.jpg
loop
Zatoka Gdańska0117.jpg
loop
Zatoka Gdańska0118.jpg
loop
Zatoka Gdańska0119.jpg
loop
Zatoka Gdańska0120.jpg
loop
Zatoka Gdańska0121.jpg
loop
Zatoka Gdańska0122.jpg
loop
Zatoka Gdańska0123.jpg
loop
Zatoka Gdańska0124.jpg
loop
Zatoka Gdańska0125.jpg
loop
Zatoka Gdańska0126.jpg
loop
Zatoka Gdańska0127.jpg
loop
Zatoka Gdańska0128.jpg
loop
Zatoka Gdańska0129.jpg
loop
Zatoka Gdańska0130.jpg
loop
Zatoka Gdańska0131.jpg
loop
Zatoka Gdańska0132.jpg
loop
Zatoka Gdańska0133.jpg
loop
Zatoka Gdańska0134.jpg
loop
Zatoka Gdańska0135.jpg
loop
Zatoka Gdańska0136.jpg
loop
Zatoka Gdańska0137.jpg
loop
Zatoka Gdańska0138.jpg
loop
Zatoka Gdańska0139.jpg
loop
Zatoka Gdańska0140.jpg
loop
Zatoka Gdańska0141.jpg
loop
Zatoka Gdańska0142.jpg
loop
Zatoka Gdańska0143.jpg
loop
Zatoka Gdańska0144.jpg
loop
Zatoka Gdańska0145.jpg
loop
Zatoka Gdańska0146.jpg
loop
Zatoka Gdańska0147.jpg
loop
Zatoka Gdańska0148.jpg
loop
Zatoka Gdańska0149.jpg
loop
Zatoka Gdańska0150.jpg
loop
Zatoka Gdańska0151.jpg
loop
Zatoka Gdańska0152.jpg
loop
Zatoka Gdańska0153.jpg
loop
Zatoka Gdańska0154.jpg
loop
Zatoka Gdańska0155.jpg
loop
Zatoka Gdańska0156.jpg
loop
Zatoka Gdańska0157.jpg
loop
Zatoka Gdańska0158.jpg
loop
Zatoka Gdańska0159.jpg
loop
Zatoka Gdańska0160.jpg
loop
Process completed.

hahah

In [ ]:
summary = df.describe()

# Wyświetlenie podsumowania
print("Summary of DataFrame:")
print(summary)

# Dodatkowe informacje
print("\nAdditional Information:")
print("Number of non-null values in each column:")
print(df.count())
print("\nData types of each column:")
print(df.dtypes)

Summary of DataFrame:
            Numer       OTH_ID
count  600.000000   600.000000
mean    50.505000   949.500000
std     28.898879   173.349358
min      1.000000   650.000000
25%     25.750000   799.750000
50%     50.500000   949.500000
75%     75.250000  1099.250000
max    102.000000  1249.000000

Additional Information:
Number of non-null values in each column:
Grupa           600
Numer           600
Data            600
Gatunek         600
Długośc (cm)    600
Płec            600
Gonady          600
Wiek            600
Populacja       600
uwagi           101
Zdjęcia          78
OTH_ID          600
dtype: int64

Data types of each column:
Grupa           object
Numer            int64
Data            object
Gatunek         object
Długośc (cm)    object
Płec            object
Gonady          object
Wiek            object
Populacja       object
uwagi           object
Zdjęcia         object
OTH_ID           int64
dtype: object